<!DOCTYPE html>
<html>
<head>
  <title>FastFood Website</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' %>
</head>
<body>

<h2>Registration</h2>

<div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-signup" }) do |f| %>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    <% if notice %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>

=======
>>>>>>> f53bf749b736d38e6649e3dac1fc0cf30cfbb74d
=======
>>>>>>> f53bf749b736d38e6649e3dac1fc0cf30cfbb74d
=======
>>>>>>> f53bf749b736d38e6649e3dac1fc0cf30cfbb74d
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    <div class="form-group">
      <%= f.label :currency_preference %><br />
      <%= f.select :currency_preference, User.currency_preferences.keys.map { |k| [k.humanize, k] }, { prompt: "Select currency" }, class: "form-control" %>
    </div>


=======
>>>>>>> f53bf749b736d38e6649e3dac1fc0cf30cfbb74d
=======
>>>>>>> f53bf749b736d38e6649e3dac1fc0cf30cfbb74d
=======
>>>>>>> f53bf749b736d38e6649e3dac1fc0cf30cfbb74d
    <%= f.submit "Sign up", class: "btn btn-primary btn-block" %>
  <% end %>
</div>

</body>
</html>
