<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> f53bf749b736d38e6649e3dac1fc0cf30cfbb74d
=======

>>>>>>> f53bf749b736d38e6649e3dac1fc0cf30cfbb74d
<!DOCTYPE html>
<html>
<head>
  <title>FastFood Website</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' %>
</head>
<body>

<<<<<<< HEAD
<<<<<<< HEAD
<div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :post, class: "form-signup" }) do |f| %>
=======
=======
>>>>>>> f53bf749b736d38e6649e3dac1fc0cf30cfbb74d


<div class="container">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-forgot-password" }) do |f| %>
<<<<<<< HEAD
>>>>>>> f53bf749b736d38e6649e3dac1fc0cf30cfbb74d
=======
>>>>>>> f53bf749b736d38e6649e3dac1fc0cf30cfbb74d
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

<<<<<<< HEAD
<<<<<<< HEAD
    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary btn-block" %>
=======
    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-block" %>
>>>>>>> f53bf749b736d38e6649e3dac1fc0cf30cfbb74d
=======
    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-block" %>
>>>>>>> f53bf749b736d38e6649e3dac1fc0cf30cfbb74d
    </div>
  <% end %>
</div>

<<<<<<< HEAD
<<<<<<< HEAD
</body>
</html>
=======

>>>>>>> f53bf749b736d38e6649e3dac1fc0cf30cfbb74d
=======

>>>>>>> f53bf749b736d38e6649e3dac1fc0cf30cfbb74d
